<section id="schedule" class="gray-bg">
	<style>
		td {border: 1px solid green;}
	</style>
  <div class="container">
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">Schedule</p>
        <h2 class="section-heading">
          Multiple tracks<br />multiple rooms<br />100% awesome<br />
          <!-- Add sessions (Auth required) -->
          <a ng-show-admin="" class="btn btn-sm btn-success"  ng-href="/schedule-edit" >Edit Schedule</a>
<!--           <a ng-show-admin="" class="btn btn-sm btn-success" ng-click="openFormModal()">Add Sponsor</a>
 -->        </h2>
      </div>
  </div>
	<table>
		<tr><th>Start Time</th><th ng-repeat="(id,name) in rooms">{{name}}</th></tr>
	
		<tr ng-repeat="(timeid,time) in times">
			<td>{{time}}</td>
<!-- 			<td colspan="5" ng-hide="data.length > 1">{{data[0].title}}</td>
 -->			<td ng-repeat="(roomid,name) in rooms"> {{timeSlots[timeid][roomOrder.indexOf(roomid)].title}}</td>
		</tr>
	</table>
  </div>
  

</section>