  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<section id="schedule" class="gray-bg" ng-show-admin="">
	<style>
		label {display:block;}
		label span {display:block;}
	</style>
	<datalist id="rooms">
		<option ng-repeat="(room,name) in rooms" ng-value="room">{{name}}</option>

	</datalist>
	<div class="container">
		<div ng-repeat="session in schedule | orderBy:['all', 'room','startTime'] " style="border:1px solid #DDD;padding:16px;">
			<label><span>Title</span> <input ng-model="session.title"/></label>
			<label><span>Speakers</span>
			<div ng-repeat="id in session.speakers" style="font-style:italic;">
			{{speakersAsObject[id].name}}
			<!-- not enough bang for buck to complete this (<a ng-click="removeSpeaker(session,id)" style="color:red;">X</a>)-->
			</div>
			<div ng-hide="newSpeakerToggle[id]" ng-click="newSpeakerToggle[id] = true;">+</div>
			<div ng-show="newSpeakerToggle[id]">
				<select ng-model="newSpeaker">
					<option ng-repeat="speaker in speakers" ng-value="speaker.$id">
						{{speaker.name}}
					</option>
					<option>Add a new speaker</option>
				
				</select>
				<button ng-click="addSpeaker(session, newSpeaker);newSpeakerToggle[id]=false;">Add</button>
			</div>
			</label>
			<label><span>Room</span> <input ng-model="session.room" list="rooms"/> All Rooms? <input type="checkbox" ng-model="session.all"></label>
			<label><span>Time</span>
				<!-- I, Stephen Fluin, of sound mind and body do hereby
				commit this programming heresy in the name of short term
				speed and lunacy. -->

				<select ng-model="session.startTime" ng-change="console.log(session.startTime);">
					<option value="2016-02-06T14:00Z">8AM</option>
					<option value="2016-02-06T15:00Z">9AM</option>
					<option value="2016-02-06T16:00Z">10AM</option>
					<option value="2016-02-06T17:00Z">11AM</option>
					<option value="2016-02-06T18:00Z">12PM</option>
					<option value="2016-02-06T19:00Z">1PM</option>
					<option value="2016-02-06T20:00Z">2PM</option>
					<option value="2016-02-06T21:00Z">3PM</option>
					<option value="2016-02-06T22:00Z">4PM</option>
					<option value="2016-02-06T23:00Z">5PM</option>
					<option value="2016-02-07T00:00Z">6PM</option>
				</select>
				 -
				 <select ng-model="session.endTime">
					<option value="2016-02-06T14:00Z">8AM</option>
					<option value="2016-02-06T15:00Z">9AM</option>
					<option value="2016-02-06T16:00Z">10AM</option>
					<option value="2016-02-06T17:00Z">11AM</option>
					<option value="2016-02-06T18:00Z">12PM</option>
					<option value="2016-02-06T19:00Z">1PM</option>
					<option value="2016-02-06T20:00Z">2PM</option>
					<option value="2016-02-06T21:00Z">3PM</option>
					<option value="2016-02-06T22:00Z">4PM</option>
					<option value="2016-02-06T23:00Z">5PM</option>
					<option value="2016-02-07T00:00Z">6PM</option>
				</select>
				</label>
				<label><span>Description</span> <textarea ng-model="session.description"></textarea>
				<label><span>Category</span> <input ng-model="session.category" placeholder="{{categories}}"></label>
				<button ng-click="schedule.$save(session);">Save</button>
				<button ng-click="schedule.$remove(session);">Delete</button>
				<br/>
			</div>
			<div><h3>New Session</h3>
				<label><span>Title</span> <input ng-model="newSession.title"/></label>
				<label><span>Room</span> <input ng-model="newSession.room" list="rooms"/></label>

				<select ng-model="newSession.startTime">
					<option value="2016-02-06T14:00Z">8AM</option>
					<option value="2016-02-06T15:00Z">9AM</option>
					<option value="2016-02-06T16:00Z">10AM</option>
					<option value="2016-02-06T17:00Z">11AM</option>
					<option value="2016-02-06T18:00Z">12PM</option>
					<option value="2016-02-06T19:00Z">1PM</option>
					<option value="2016-02-06T20:00Z">2PM</option>
					<option value="2016-02-06T21:00Z">3PM</option>
					<option value="2016-02-06T22:00Z">4PM</option>
					<option value="2016-02-06T23:00Z">5PM</option>
					<option value="2016-02-07T00:00Z">6PM</option>
				</select>
				 -
				 <select ng-model="newSession.endTime">
					<option value="2016-02-06T14:00Z">8AM</option>
					<option value="2016-02-06T15:00Z">9AM</option>
					<option value="2016-02-06T16:00Z">10AM</option>
					<option value="2016-02-06T17:00Z">11AM</option>
					<option value="2016-02-06T18:00Z">12PM</option>
					<option value="2016-02-06T19:00Z">1PM</option>
					<option value="2016-02-06T20:00Z">2PM</option>
					<option value="2016-02-06T21:00Z">3PM</option>
					<option value="2016-02-06T22:00Z">4PM</option>
					<option value="2016-02-06T23:00Z">5PM</option>
					<option value="2016-02-07T00:00Z">6PM</option>
				</select>
				<label><span>Description</span> <input ng-model="newSession.description"></label>
				<button ng-click="schedule.$add(newSession);newSession={};">Create</button>
			</div>
			--
			<h2>Speakers</h2>
			<div><input ng-model="speakerSearch" placeholder="search"></div>
			<div ng-repeat="speaker in speakers | orderBy : 'name' | filter:speakerSearch" style="float:left;margin:0 16px 16px 0">
			<label><input placeholder="name" ng-model="speaker.name"></label>
			<label><input placeholder="bio" ng-model="speaker.bio"></label>
			<label><input placeholder="company" ng-model="speaker.company"></label>
			<label><input placeholder="image" ng-model="speaker.image"></label>
			<label><input placeholder="twitter" ng-model="speaker.twitter"></label>
			<label><input placeholder="website" ng-model="speaker.website"></label>

				<button ng-click="speakers.$save(speaker)">Save</button>
			</div>

			<div style="clear:both;">
				<h3>New Speaker</h3>
				<label><input placeholder="name" ng-model="newSpeaker.name"></label>
				<label><input placeholder="bio" ng-model="newSpeaker.bio"></label>
				<label><input placeholder="company" ng-model="newSpeaker.company"></label>
				<label><input placeholder="image" ng-model="newSpeaker.image"></label>
				<label><input placeholder="twitter" ng-model="newSpeaker.twitter"></label>
				<label><input placeholder="website" ng-model="newSpeaker.website"></label>
				<button ng-click="speakers.$add(newSpeaker);newSpeaker={};">Create</button>
			</div>




		</div>
	</section>