<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">{{ session.title ? session.title : 'Other Session' }}</h3>
</div>
<div class="modal-body">
	<form role="form">
	<div class="form-group">
		<label for="room">Room:</label>
		{{rooms[session.room]}}
	</div>
	<div class="form-group">
		<label for="time">Time:</label>
		{{session.startTime | date : 'h:mm a'}} - {{session.endTime | date : 'h:mm a'}}
	</div>
	<div class="form-group" ng-show="session.speakers">
		<label for="speaker">Speaker:</label>
		<div ng-repeat="id in session.speakers" style="font-style:italic;">
			<a ng-click="viewSpeaker(id);">{{speakersAsObject[id].name}}</a>
		</div>
	</div>
	<div class="form-group">
		<label for="description">Description:</label>
		<div>{{session.description}}</div>
	</div>
	<div ng-show="user.uid">
		<div><strong>Session Feedback</strong></div>
		<style>
		.nostrong {width:100%;}
		.nostrong td {border:none;}
		.nostrong input {margin:8px;}
		</style>
		<table class="nostrong">
	
			<tr><td>Speaker Quality<br/>(poor= 1, 5=great)</td><td><input type="number" ng-model="sessionFeedback.quality" min="1" max="5"/></td></tr>
			<tr><td>Environment<br/>(poor= 1, 5=great)</td><td><input type="number" ng-model="sessionFeedback.environment" min="1" max="5"/></td></tr>
			<tr><td>Recommendation<br/>(wouldn't recommend=1, 5=would recommend)</td><td><input type="number" ng-model="sessionFeedback.recommend" min="1" max="5"/></td></tr>
			<tr><td>My Name (for prizes)</td><td><input ng-model="userDetails.fullName"/></td></tr>
		</table>
	</div>

	</form>
</div>
<div class="modal-footer" style="display:flex;justify-content:flex-end;align-items:center;">
	<p ng-show="err" class="bg-danger">{{ err }}</p>
	<div ng-show="user.uid" style="display:flex;align-items:center;margin-right:15px;" ng-click="favorite.$value = !favorite.$value">
		
		<svg ng-hide="favorite.$value" style="width:24px;height:24px" viewBox="0 0 24 24">
    		<path fill="#000000" d="M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z" />
		</svg>
		<svg ng-show="favorite.$value" style="width:24px;height:24px" viewBox="0 0 24 24">
		    <path fill="#000000" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
		</svg>
		<span style="margin-left:6px;">
			<span ng-show="favorite.$value">On</span>
			<span ng-hide="favorite.$value">Add To</span>
			My Agenda
		</span>

	</div>
	<button class="btn btn-default" type="button" ng-click="cancel()">back</button>
</div>