<section id="schedule" class="gray-bg">
	<style>
		td {border: 1px solid green;}
	</style>
  <div class="container">
	  <div class="container centered">
		<div class="row">
		  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
			<p class="section-title">Schedule</p>
			<h2 class="section-heading">
			  Android, Design, Chrome & Web, Cloud, IoT, Reach<br />
			  6 Tracks<br />
			  100% awesome<br />
			  Schedule Coming Soon
			  <!-- Add sessions (Auth required) -->
			  <a ng-show-admin="" class="btn btn-sm btn-success"  ng-href="/schedule-edit" >Edit Schedule</a>
	<!--           <a ng-show-admin="" class="btn btn-sm btn-success" ng-click="openFormModal()">Add Sponsor</a>  -->
		   </h2>
		  </div>
	  </div>
	  <!-- Need this header if not mobile -->
	 <div class="row" ng-show-admin="">
	 	<div class="col-md-2" ng-repeat="(roomid,name) in rooms">{{name}}</div>
	 </div>

	 <div class='row panel-default' ng-repeat="(timeid,time) in prettySchedule" ng-show-admin="">
		 <div class='panel-heading'><strong>{{timeid}}</strong></div>
	 		<div class='panel-body'>
	
				<!-- All Attendee Sessions -->
				<div class="col-md-12" ng-repeat="session in time.all">
					{{session.title}}
	 				<span ng-repeat="speakerId in session.speakers" ng-hide='session.speakers.length > 0'>
	 					<br/>{{speakersAsObject[speakerId].name}}
	 				</span><br/>
	 				<span ng-show="rooms[session.room]">{{rooms[session.room]}}</span>
	 				<span ng-hide="rooms[session.room]">{{session.room}}</span>
				</div>
		 		<div id='session{{id}}'  class='col-md-2 design {{css}}' ng-repeat="(roomId,roomName) in rooms">
		 			<!-- ng-click='ShowLessonPopup({{id}})'-->
		 			<div ng-repeat="session in time[roomId]">
			 			<div class='session'>
			 				<strong>{{session.title}}</strong><br/>
			 				<span ng-repeat="speakerId in session.speakers">
			 					{{speakersAsObject[speakerId].name}}
			 				</span>
			 			</div>
			 		</div>
		 		</div>
	
			</div>
		</div>
	  </div>

</section>
